{% extends 'base.html' %}

{% block content %}


<div class="row justify-content-center h-100">
    <div class="col-md-8 col-xl-6 chat">
        <div id="card" class="card">
            <div id='chat'class="card-body msg_card_body">
                <div class="d-flex justify-content-start mb-4">
                    <div class="img_cont_msg">
                        <img src="{{url_for('static', filename='assets/img/grandpy.png')}}"
                             class="rounded-circle user_img_msg">
                    </div>
                    <div class="msg_cotainer">
                        Bonjour, comment puis je t'aider ?
                    </div>
                </div>
                <div class="d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                        test
                    </div>
                    <div class="img_cont_msg">
                        <img src="{{url_for('static', filename='assets/img/user.png')}}"
                             class="rounded-circle user_img_msg">
                    </div>

                </div>
                <div class="d-flex justify-content-start mb-4">
                    <div class="img_cont_msg">
                        <img src="{{url_for('static', filename='assets/img/grandpy.png')}}"
                             class="rounded-circle user_img_msg">
                    </div>
                    <div class="msg_cotainer">
                        Bonjour, comment puis je t'aider ?
                    </div>
                </div>
            </div>
            <form id="form">
                <input id='msg' name='msg' class="form-control type_msg"
                       placeholder="Salut GrandPy ! Est-ce que tu connais l'adresse ...?">
                <a id='send' class="btn btn-primary btn-xl" href="#">Envoyer</a>
            </form>
        </div>
    </div>
</div>
</div>

<!-- Core theme JS-->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<!-- JQuery -->
<script type=text/javascript src="{{url_for('static', filename='js/jquery.js')}}"></script>

{% endblock %}